<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        
        <style>
            /* Add a black background color to the top navigation */
            .topnav {
            background-color: #333;
            overflow: hidden;
            /*width: 60%;*/
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto 
            }
            ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
            }

            li {
            float: left;
            }
            .nav-link {
                float: right;
                position: relative;
            }

            a.nav-link {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            }
            a:hover.nav-link {
            background-color: #111111;
            color: blue;
            }
            .topnav h3 {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 19px;
            }
        </style>
    </head>
    <body>
        <div class="topnav">
            <ul>
                <li><h3>Update 24/7 Admin</h3></li>
                <li><a class="nav-link" href="#">NewsForm</a></li>
                <li><a class="nav-link" href="#">EditNews</a></li>
                <li><a class="nav-link" href="/admin">Logout</a></li>
              </ul>
        </div>

        <table id="dashboard" class="display">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Published At</th>
                    <th>Edit/ Delete</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i=0; i<newssList.length; i++) {%>
                        <tr>
                            <td><%=newssList[i].title%></td>
                            <td><%=newssList[i].description%></td>
                            <td><%=newssList[i].publishedAt%></td>
                            <td>
                                <button type="submit" class="btn btn-warning">Edit</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                <%};%>
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#dashboard').DataTable();
            });
        </script>


        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>