<html>
    <head>
        <title>Articles</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        

    </head>
    <body>
        <div class="container">
                <center>
                        <div>
                          <a href="/addArticle" class="btn btn-success" role="button">Add Article</a>
                        </div>
                </center>
                <h2>Articles</h2>
                <div class="table-responsive">
                  <table class="table table-hover table-striped" id="myTable">
                    <caption>List of Articles</caption>
                  <thead class = "thead-dark">
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>URL</th>
                      <th>IMG</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                    <td><%= data[i].title %></td>
                    <td><%= data[i].description %></td>
                    <td><%= data[i].url %></td>
                    <td><%= data[i].img %></td>
                  </tr>
                <% } %>
                  </tbody>
                  <tfoot class="thead-dark">
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>URL</th>
                      <th>IMG</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>
    </body>
</html>
